/*code for all pages*/
header {
  background-color: lavender;
  padding: 6% 10% 6% 6%;
  margin-left: 0px !important;
  margin-bottom: 2em;
  border-bottom: 1px solid indigo;
  text-align: center;
}

/*code for resume page only*/
button#linkedin-link {
  color: indigo;
  text-decoration: none;
  padding: 1em;
  border-radius: 4em;
  border: 1px solid indigo;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  background-color: lavender !important;
  margin: 3% 0% 0% 0%;
}

button#linkedin-link:hover {
  border: 1px solid indigo;
  background-color: indigo !important;
  color: lavender;
}

 #name {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }
   
 #contact {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }
   
 #education {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }
   
 #language {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }
   
 #skills {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }
   
 #work {
   font-family:'Arial',cursive;
   font-weight: bold;
   font-size: 2.5em;
   color: black;
   text-align: center;
 }

@media (max-width: 768px) {
  button#linkedin-link {
  margin: 6% 0% 10% 0%;
} 
}

/*code for hometown page only*/
